<div class="flex flex-col gap-4 p-4">
	<!-- Add Tag Form -->
	<div class="flex justify-end">
		<app-form-add-tag></app-form-add-tag>
	</div>

	<!-- Tag List -->
	<div *ngIf="(tags$ | async)?.length" class="flex gap-2">
		<div
			*ngFor="let tag of tags$ | async"
			class="inline-block rounded p-2 mb-2"
			[ngStyle]="{ 'background-color': tag.tag_color, 'color': mapColor(tag.tag_color) }"
		>
			<div class="flex justify-between items-center gap-2 opacity-60 hover:opacity-100 duration-150">
				<!-- Tag Name -->
				<span>{{tag.tag_name}}</span>
				
				<!-- Tag Menu -->
				<div class="flex justify-between items-center gap-2 cursor-pointer">
					<span nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" nz-icon nzType="more"></span>
					<nz-dropdown-menu #menu="nzDropdownMenu">
						<ul nz-menu>
							<li nz-menu-item class="flex items-center gap-2" (click)="deleteTag(tag.id)">
								<span nz-icon nzType="delete"></span><span>Delete</span>
							</li>
							<li nz-menu-item class="flex items-center gap-2">
								<!-- Edit Tag Form  -->
								<app-form-edit-tag [tag]="tag"></app-form-edit-tag>
							</li>
						</ul>
					</nz-dropdown-menu>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- No Tag Display -->
<div *ngIf="!(tags$ | async)?.length" class="absolute top-1/2 left-0 right-0">
	<div class="text-2xl text-center opacity-50">Your tag box is empty.</div>
</div>