<button mat-menu-item (click)="openModal()">
	<mat-icon fontIcon="shield"></mat-icon>
	<span>Privacy & Security</span>
</button>

<nz-modal
	nzTitle="Privacy & Security"
	[nzVisible]="isVisible"
	[nzClosable]="true"
	[nzFooter]="null"
	(nzOnCancel)="closeModal()"
>
	<div *nzModalContent>
		<div *ngIf="user$ | async as user" class="flex flex-col gap-10">

			<!-- Action Item -->
			<div class="bg-neutral-100 rounded p-4" (click)="openDeleteModal()">
				<div class="flex justify-between items-center gap-2 cursor-pointer">
					<div>Delete Account</div>
					<app-icon name="navigate_next"></app-icon>
				</div>
				<nz-modal
					[nzCentered]="true"
					[nzVisible]="isDeleteModalVisible"
					nzTitle="Delete Your Tuebi Account"
					nzContent="Are you sure to delete all your data from tuebi.io?"
					nzOkText="Sure"
					(nzOnOk)="delete()"
					(nzOnCancel)="closeDeleteModal()"
					[nzOkLoading]="isLoading"
				>
				</nz-modal>
			</div>

			<!-- Action Item -->
			<div class="flex flex-col gap-2">
				<div class="text-xs text-gray-600 uppercase px-2">
					Automatically delete my account
				</div>
				<div class="bg-neutral-100 rounded cursor-pointer p-4" (click)="toggleScheduleDeletionModal(true)">
					<div class="flex justify-between items-center gap-2">
						<div>If Away For</div>
						<div class="flex gap-2">
							<div class="text-gray-400">
								{{
								user.user_settings.user_month_to_delete === 12
									? '1 year'
									: user.user_settings.user_month_to_delete + ' months'
								}}
							</div>
							<app-icon name="navigate_next"></app-icon>
						</div>
					</div>
					<nz-modal
						[nzCentered]="true"
						[nzVisible]="isScheduleDeletionVisible"
						(nzOnOk)="updateScheduleDeletionTime()"
						(nzOnCancel)="toggleScheduleDeletionModal(false)"
						nzAutofocus="ok"
						[nzClosable]="false"
					>
						<div *nzModalContent>
							<nz-select [(ngModel)]="scheduleTimeToDelete" class="w-full">
								<nz-option [nzValue]="3" nzLabel="3 months"></nz-option>
								<nz-option [nzValue]="6" nzLabel="6 months"></nz-option>
								<nz-option [nzValue]="9" nzLabel="9 months"></nz-option>
								<nz-option [nzValue]="12" nzLabel="1 year"></nz-option>
							</nz-select>
						</div>
					</nz-modal>
				</div>
				<div class="text-xs text-gray-400">
					If you do not come online at least once within this period,
					your account will be deleted with all categories and bookmarks.
				</div>
			</div>

		</div>
	</div>
</nz-modal>