<div *ngIf="user$ | async as user" class="flex flex-col gap-4 p-6 h-screen overflow-y-scroll hidden-scrollbar">
	<!-- Avatar & Welcome -->
	<div class="flex justify-between items-center">
		<div class="flex gap-2">
			<nz-avatar nzIcon="user" nzShape="circle" nzSize="large" nzSrc=""></nz-avatar>
			<div class="flex flex-col px-2">
				<span class="text-xs text-gray-400">Welcome</span>
				<span><strong>{{user.user_name || user.user_email}}</strong></span>
			</div>
		</div>
		<ng-icon (click)="logout()" class="cursor-pointer" name="circum-logout"></ng-icon>
	</div>

	<nz-divider></nz-divider>

	<app-form-edit-profile></app-form-edit-profile>

	<nz-divider></nz-divider>

	<app-form-change-password></app-form-change-password>
</div>