<div 
	*ngIf="!isLoading && !isLoggedIn" 
	class="grid grid-cols-12 p-8"
>
	<section class="col-span-6 flex flex-col justify-center gap-6">
		
		<!-- Title and Description -->
		<div *ngIf="currentUrl === '/'">
			<p class="lg:text-2xl font-bold">
				Simplicity is Key - Bookmark with Ease
			</p>
			<p class="lg:text-xl font-light">
				Bookmarking made simple.
				Save your favorite sites with ease and access them quickly whenever you need to.
				Simplify your web experience with tuebi.io.
			</p>
		</div>

		<!-- Features -->
		<div class="flex-col lg:flex-row lg:flex-wrap w-full">
			<div *ngFor="let item of featuresAtGlance" class="flex items-center basis-1/2 gap-4 flex-shrink mb-4">
				<app-icon [name]="item.icon"></app-icon>
				<div class="lg:text-xl">{{item.name}}</div>
			</div>
		</div>
		
		<!-- Buttons -->
		<div class="">
			<button nz-button nzType="primary" (click)="login()">
				Login / Sign up
			</button>
		</div>
	</section>
</div>

<div *ngIf="isLoading" class="flex justify-center items-center w-screen h-screen">
	<ng-template #indicatorTemplate><span nz-icon nzType="loading"></span></ng-template>
	<nz-spin nzSimple [nzIndicator]="indicatorTemplate" [nzSpinning]="isLoading" nzSize="large"></nz-spin>
</div>
