<div class="flex gap-2 justify-center items-center" (click)="openModal()">
	<app-icon name="add"></app-icon>
	<span>Add New Tag</span>
</div>

<nz-modal
	(nzOnCancel)="closeModal()"
	(nzOnOk)="submit()"
	[(nzVisible)]="isVisible"
	nzTitle="New Tag"
>
	<ng-container *nzModalContent>
		<form (ngSubmit)="submit()" [formGroup]="form" nz-form>
			<nz-form-item>
				<nz-form-control nzErrorTip="Please fill the tag name.">
					<nz-input-group>
						<input
							formControlName="tag_name"
							nz-input
							placeholder="Tag Name"
							type="text"
						/>
					</nz-input-group>
				</nz-form-control>
			</nz-form-item>
			
			<button class="hidden" type="submit"></button>
		</form>
	</ng-container>
</nz-modal>