<div class="flex flex-col gap-8 p-8">

	<!-- Search Input -->
	<input
		(ngModelChange)="search()"
		[(ngModel)]="keyword"
		class="w-full p-button-info"
		pInputText
		pRipple
		placeholder="Type something to search..."
		type="text"
	>

	<!-- All Bookmarks -->
	<div *ngIf="!isSearching">
		<div class="mb-4">All Bookmarks</div>
		<app-bookmark-search-item *ngFor="let item of bookmarkList | async" [bookmark]="item"></app-bookmark-search-item>
	</div>

	<!-- Searched Bookmarks -->
	<div *ngIf="isSearching">
		<div class="mb-4">Searched Bookmarks</div>
		<app-bookmark-search-item *ngFor="let item of searchedBookmarkList |async"
		                          [bookmark]="item"></app-bookmark-search-item>
	</div>
</div>