<div class="flex flex-col gap-4">

	<div class="flex justify-between items-center">
		<app-typography-section-header>Categories</app-typography-section-header>
		<app-add-category></app-add-category>
	</div>

	<!-- All -->
	<div>
		<div class="flex flex-col">
			<app-category
				[isAll]="true"
				[bookmarks$]="bookmarks$"
			>
			</app-category>

			<!-- Uncategorized -->
			<app-category
				[isUncategorized]="true"
				[bookmarks$]="bookmarks$"
			>
			</app-category>

			<!-- Trash -->
			<app-category
				[isTrash]="true"
				[bookmarks$]="bookmarks$"
			>
			</app-category>
		</div>
		
		<!-- Categories -->
		<div
			(cdkDropListDropped)="dropCategory($event)"
			cdkDropList
			cdkDropListOrientation="vertical"
			class="flex flex-col"
		>
			<app-category
				*ngFor="let category of categories$ | async"
				[isCategorized]="true"
				[category]="category"
				[bookmarks$]="bookmarks$"
				cdkDrag>
			</app-category>
		</div>
	</div>
</div>