<div 
	*ngIf="userSettings$ | async as settings"
	class="w-full border-0 rounded hover:bg-neutral-100 duration-150 cursor-pointer opacity-80"
>
	<div class="flex justify-between items-center gap-2 w-full">
		<div class="flex items-center gap-2 w-full" [routerLink]="categoryRouterLink">
			<app-icon *ngIf="isCategorized" name="folder"></app-icon>
			<app-icon *ngIf="isAll" name="folder"></app-icon>
			<app-icon *ngIf="isUncategorized" name="folder"></app-icon>
			<app-icon *ngIf="isTrash" name="folder"></app-icon>
			<div>{{name}}</div>
		</div>
		<div class="flex items-center justify-end gap-2">
			<span *ngIf="settings.is_bookmark_count_shown" class="text-xs text-right text-neutral-500 w-10">
				{{count$ | async}}
			</span>
			<app-icon
				nz-dropdown
				nzTrigger="click"
				nz-icon
				name="more_vert"
				[nzDropdownMenu]="menu"
				[ngClass]="(!isAll && !isUncategorized && !isTrash) ? 'visibile' : 'invisible'"
			>
			</app-icon>
		</div>
	</div>

	<!-- Dropdown Menu -->
	<nz-dropdown-menu #menu="nzDropdownMenu">
		<ul nz-menu>
			<li nz-menu-item (click)="openAllInNewTab()">
				<div class="flex items-center gap-2">
					<app-icon name="link"></app-icon>
					<span>Open all in new tab</span>
				</div>
			</li>
			
			<li nz-menu-item (click)="deleteOneCategory(category.id)">
				<div class="flex items-center gap-2">
					<app-icon name="delete"></app-icon>
					<span>Delete</span>
				</div>
			</li>

			<app-form-edit-category [category]="category"></app-form-edit-category>
		</ul>
	</nz-dropdown-menu>
</div>

