<div class="h-screen grid grid-cols-1 lg:grid-cols-3 rounded-2xl" [ngStyle]="{background: theme.color.primary.main}">
	<div
		class="col-span-1 lg:col-start-2 lg:col-end-2 flex flex-col justify-center items-center gap-10 h-full w-full p-6">

		<form nz-form (ngSubmit)="login()" [formGroup]="form" class="w-full">
			<nz-form-item class="w-full">
				<nz-form-control>
					<input
						nz-input
						formControlName="user_email"
						type="email"
						nzSize="large"
						placeholder="Email"
					>
				</nz-form-control>
			</nz-form-item>

			<nz-form-item class="w-full">
				<nz-form-control>
					<input
						nz-input
						formControlName="user_password"
						type="password"
						nzSize="large"
						placeholder="Password"
					>
				</nz-form-control>
			</nz-form-item>

			<div class="flex justify-end">
				<a class="px-2 font-bold underline mb-4" [routerLink]="['/', route.PASSWORD_RESET_REQUEST]">
					Forgot your password?
				</a>
			</div>

			<div class="flex justify-end">
				Not a member yet?
				<a class="px-2 font-bold underline mb-4" [routerLink]="['/', route.SIGNUP]">
					Sign up here
				</a>
			</div>

			<div class="flex justify-end">
				<button
					class="rounded text-white hover:text-white opacity-80 hover:opacity-100 duration-300 ease-in-out flex items-center"
					[ngStyle]="{background: theme.color.primary.dark}"
					type="submit"
					nz-button
					nzType="text"
					[nzLoading]="isLoading"
				>
					<span nz-icon nzType="login"></span>
					Login
				</button>
			</div>
		</form>

	</div>
</div>
