<p-splitter class="splitter" [panelSizes]="[20,80]">
	<ng-template pTemplate>
		<div class="category-container flex flex-col p-4 h-screen overflow-auto w-full">

			<div class="flex justify-end items-center">
				<app-form-add-category></app-form-add-category>
			</div>

			<!-- All -->
			<app-category
				[routerLink]="['/space/categories/all']"
				[routerLinkActive]="['opacity-100', 'bg-neutral-100', 'rounded']"
				[isAll]="true"
				[bookmarks$]="bookmarks$"
			>
			</app-category>

			<!-- Uncategorized -->
			<app-category
				[routerLink]="['/space/categories/uncategorized']"
				[routerLinkActive]="['opacity-100', 'bg-neutral-100', 'rounded']"
				[isUncategorized]="true"
				[bookmarks$]="bookmarks$"
			>
			</app-category>

			<!-- Trash -->
			<app-category
				[routerLink]="['/space/categories/trash']"
				[routerLinkActive]="['opacity-100', 'bg-neutral-100', 'rounded']"
				[isTrash]="true"
				[bookmarks$]="bookmarks$"
			>
			</app-category>

			<nz-divider></nz-divider>

			<!-- Categories -->
			<div
				(cdkDropListDropped)="dropCategory($event)"
				cdkDropList
				cdkDropListOrientation="vertical"
				class="flex flex-col gap-1"
			>
				<app-category
					*ngFor="let category of categories$ | async"
					[routerLink]="['/space/categories', category.id]"
					[isCategorized]="true"
					[category]="category"
					[bookmarks$]="bookmarks$"
					cdkDrag>
				</app-category>
			</div>

		</div>
	</ng-template>
	<ng-template pTemplate>
		
		<router-outlet></router-outlet>
		
	</ng-template>
</p-splitter>