.cdk-drag-placeholder {
  @apply opacity-0
}

.cdk-drop-list-dragging .cdk-drag {
  @apply transition-all duration-300
}

.cdk-drag-animating {
  @apply transition-all duration-300
}

:host {
  ::ng-deep .p-splitter-panel-nested {
    display: block;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.category-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.category-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}