<div class="flex items-center gap-2" (click)="openModal()">
	<span nz-icon nzType="edit"></span><span>Edit</span>
</div>

<nz-modal
	(nzOnCancel)="closeModal()"
	(nzOnOk)="submit()"
	[(nzVisible)]="isVisible"
	nzTitle="Edit Tag: {{tag.tag_name}}"
>
	<ng-container *nzModalContent>
		<form (ngSubmit)="submit()" [formGroup]="form" nz-form>
			<nz-form-item>
				<nz-form-control nzErrorTip="Please fill the tag name.">
					<nz-input-group>
						<input
							formControlName="tag_name"
							placeholder="Tag name"
							nz-input
							type="text"
						/>
					</nz-input-group>
				</nz-form-control>
			</nz-form-item>

			<nz-form-item>
				<nz-form-control nzErrorTip="Please fill the tag color.">
						<nz-radio-group formControlName="tag_color">
							<div class="flex flex-wrap gap-2">
								<div
									*ngFor="let color of colors"
									class="w-10 h-5 border-0 cursor-pointer"
									[ngStyle]="{ 
										'background-color': color,
										'border': color === selectedColor ? '2px solid #37474F' : 'none'
									}"
									(click)="selectColor(color)"
								>
								</div>
							</div>
						</nz-radio-group>
				</nz-form-control>
			</nz-form-item>
			
			<button class="hidden" type="submit"></button>
		</form>
	</ng-container>
</nz-modal>