<div class="h-screen grid grid-cols-1 lg:grid-cols-3 rounded-2xl" [ngStyle]="{background: theme.color.primary.main}">
	<div
		class="col-span-1 lg:col-start-2 lg:col-end-2 flex flex-col justify-center items-center gap-10 h-full w-full p-6">

		<div class="flex flex-col gap-4 justify-center items-center">
			<div class="text-xl font-bold text-center">Let's pick a new password</div>
			<form [formGroup]="form" (ngSubmit)="changePassword()" class="flex flex-col gap-2">
				<input
					formControlName="user_email"
					nz-input
					type="email"
					nzSize="large"
					placeholder="Your Email Address"
				>
				<input
					formControlName="user_updated_password"
					nz-input
					type="password"
					nzSize="large"
					placeholder="New Password"
				>
				<input
					formControlName="user_confirmed_password"
					nz-input
					type="password"
					nzSize="large"
					placeholder="Confirm Password"
				>
				<input
					formControlName="user_confirmation_code"
					nz-input
					type="text"
					nzSize="large"
					placeholder="Confirmation Code"
				>
				<button
					nz-button
					nzType="dashed"
					nzSize="large"
					type="submit"
					[nzLoading]="isLoading"
					[disabled]="isDisabled"
				>
					Change Password
				</button>
			</form>
		</div>

	</div>
</div>
