<div class="bg-purple-50 overflow-hidden">
	<h1 mat-dialog-title class="p-6 rounded-3xl">Edit Tag</h1>

	<div mat-dialog-content class="w-96">
		<form class="flex flex-col gap-2 pt-6" [formGroup]="form" (ngSubmit)="submit()">
			<mat-form-field appearance="outline">
				<mat-label>Tag Name</mat-label>
				<input matInput required placeholder="Ex. Personal" formControlName="tag_name">
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Tag Color</mat-label>
				<mat-select formControlName="tag_color">
					<mat-option *ngFor="let color of colors" [value]="color">{{colorMapping[color].label}}</mat-option>
				</mat-select>
			</mat-form-field>
		</form>
	</div>

	<div class="flex justify-end px-6 pb-6">
		<button mat-button (click)="cancel()">Cancel</button>
		<button mat-button type="submit" cdkFocusInitial (click)="submit()">Ok</button>
	</div>

</div>
