@tailwind components;
@tailwind utilities;

div, p {
  word-break: break-word;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  min-width: 1000px;
  padding: 0.5rem;
}

app-icon {
  line-height: 0;
}

a {
  @apply text-gray-800 opacity-80 hover:opacity-100 duration-300 transition-all;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}