@tailwind components;
@tailwind utilities;

div, p {
  word-break: break-all;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Nunito', sans-serif;
  background: #f5f5f5;
}

app-icon {
  line-height: 0;
}

a {
  @apply text-gray-800 opacity-80 hover:opacity-100 duration-300 transition-all;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}