<div class="overflow-hidden">
	<h1 mat-dialog-title class="p-6 rounded-3xl">New Category</h1>

	<div mat-dialog-content class="w-96">
		<form class="flex flex-col gap-2 pt-6" [formGroup]="form" (ngSubmit)="submit()">

			<mat-form-field appearance="outline">
				<mat-label>Category Name</mat-label>
				<input matInput required placeholder="Ex. Fruit" formControlName="category_name">
			</mat-form-field>

		</form>
	</div>

	<div class="flex justify-end p-6">
		<button mat-button (click)="cancel()">Cancel</button>
		<button mat-button type="submit"  cdkFocusInitial (click)="submit()">Ok</button>
	</div>

</div>
