<!-- Change Password Form -->
<form (ngSubmit)="changePassword()" [formGroup]="form" class="flex flex-col gap-2">
	<div class="font-semibold mb-4">Change Password</div>

	<nz-input-group [nzStatus]="hasError ? 'error' : ''">
		<input
			formControlName="user_password"
			nz-input
			placeholder="Current Password"
			type="password"
		/>
	</nz-input-group>

	<nz-input-group [nzStatus]="hasError ? 'error' : ''">
		<input
			formControlName="user_updated_password"
			nz-input
			placeholder="New Password"
			type="password"
		/>
	</nz-input-group>

	<nz-input-group [nzStatus]="hasError ? 'error' : ''">
		<input
			formControlName="user_confirmed_password"
			nz-input
			placeholder="Confirm Password"
			type="password"
		/>
	</nz-input-group>

	<nz-alert
		*ngIf="errorMessage"
		[nzMessage]="errorMessage"
		nzType="error">
	</nz-alert>

	<button type="submit">Save</button>
</form>