button {
  cursor: pointer;
  border: 1px solid #e7e5e5;
  background: white;
  padding: 0.5rem;
  transition: all 150ms ease-in-out;
  &:hover {
    border: 1px solid #d5d4d4;
    background: #e8e8e8;
  }
}