<div class="relative rounded-2xl" [ngClass]="isSearching ? 'shadow-lg' : ''">
	<div 
		class="flex items-center gap-4 bg-neutral-100 hover:bg-neutral-200 duration-300 p-2 rounded-2xl border-solid border-white"
		[ngClass]="isSearching ? 'rounded-b-none' : 'rounded-b-2xl'"
	>
		<!-- Search Input Box-->
		<div class="flex gap-2 items-center w-full">
			<button mat-icon-button>
				<mat-icon fontIcon="bookmark"></mat-icon>
			</button>

			<form [formGroup]="form" class="w-full">
				<input
					type="text"
					placeholder="Quickly find your saved pages..."
					formControlName="keywords"
					class="bg-transparent w-full border-none focus:outline-none p-2 w-full"
					(keydown.escape)="cancelSearch()"
				/>
			</form>
		</div>

		<button mat-icon-button (click)="isSearching && cancelSearch()">
			<mat-icon *ngIf="!isSearching" fontIcon="search"></mat-icon>
			<mat-icon *ngIf="isSearching" fontIcon="close" ></mat-icon>
		</button>
	</div>

	<div 
		*ngIf="isSearching" class="search-result-container bg-neutral-50 rounded-2xl w-full absolute z-10"
		[ngClass]="isSearching ? 'rounded-t-none shadow-md' : 'rounded-t-2xl'"
	>
		<!-- Searched Text -->
		<div *ngIf="isSearching" class="p-4">Here are your bookmark search results: {{ searchedBookmarks.length }}</div>

		<!-- Searched Bookmarks -->
		<div *ngIf="searchedBookmarks.length" class="p-4">
			<app-bookmark
				*ngFor="let item of searchedBookmarks"
				[bookmark]="item"
				[isSearching]="true"
			>
			</app-bookmark>
		</div>
	</div>
</div>

