.cdk-drag-placeholder {
  @apply opacity-0
}

.cdk-drop-list-dragging .cdk-drag {
  @apply transition-all duration-300
}

.cdk-drag-animating {
  @apply transition-all duration-300
}

.bookmark-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  background-color: #fafafa;
}

.bookmark-container::-webkit-scrollbar {
  width: 2px;
  background-color: #F5F5F5;
  border: none;
}

.bookmark-container::-webkit-scrollbar-thumb {
  background-color: #363636;
  border: 1px solid #605e5e;
}

.bookmark-container {
  max-height: 100vh;
  overflow-y: auto;
}