<div class="bookmark-container flex flex-col gap-4 lg:h-screen" [ngStyle]="{ background: theme.color.primary.light }">
	<app-multiple-select
		*ngIf="!(isEmpty$ | async)"
		[bookmarks]="filteredBookmarks$ | async"
		[tags]="tags$ | async"
		[options]="{
		route_params_id: (currentRoute$ | async) || ''
	}"
	>
	</app-multiple-select>

	<div *ngIf="isEmpty$ | async" class="flex flex-col justify-center items-center w-full h-3/4">
		<div class="font-bold text-2xl opacity-50">
			There's currently no bookmark here.
		</div>
	</div>
</div>
