<!-- Used For Regular Display -->
<div>
	<div *ngIf="userSettings$ | async as settings">
		<!-- Compact Bookmark -->
		<div
			class="compact-bookmark flex justify-between gap-4 rounded cursor-pointer hover:bg-neutral-100 duration-75 ease-in-out p-1"
		>
			<div class="flex justify-start items-center gap-4 w-full" (click)="open()">
				<img
					*ngIf="settings.is_favicon_shown"
					alt="{{ bookmark.bookmark_name }} favicon"
					height="12"
					src="{{ getFavicon(bookmark.bookmark_url) }}"
					width="12"
					class="favicon"
				/>
				<div>{{ bookmark.bookmark_name }}</div>
			</div>
			<div class="compact-bookmark__menu flex justify-end items-center">
				<div class="flex gap-4 items-center">
					<app-icon name="open_in_new" (click)="open()"></app-icon>
					<app-icon name="content_copy" (click)="copy()"></app-icon>
					<app-edit-bookmark *ngIf="!bookmark.bookmark_deleted" [bookmark]="bookmark" class="w-full"></app-edit-bookmark>
					<app-icon name="delete" (click)="bookmark.bookmark_deleted ? delete() : remove()" *ngIf="!isSearching"></app-icon>
					<app-icon name="restore_from_trash" *ngIf="bookmark.bookmark_deleted && !isSearching" (click)="restore()"></app-icon>
				</div>
			</div>
		</div>
	</div>
</div>