<div
	*ngIf="user$ | async as user"
	class="avatar flex justify-center items-center w-12 h-12 rounded-full bg-center bg-cover bg-no-repeat cursor-pointer"
	[style]="{'background-image': 'url(' + user?.user_avatar_url + ')', 'background-color': '#e7e7e7' }"
>
	<nz-upload
		(nzChange)="handleChange($event)"
		[nzAccept]="acceptFile"
		[nzAction]="UPLOAD_API_URL"
		[nzHeaders]="{ authorization: this.authorization }"
		[nzMultiple]="false"
		[nzShowUploadList]="false"
		[nzSize]="0"
	>
		<app-icon 
			class="avatar-upload-icon" 
			[ngClass]="isLoading ? 'hidden' : 'block'" 
			name="cloud_upload">
		</app-icon>
		
		<ng-template #indicatorTemplate><span nz-icon nzType="loading" class="text-white"></span></ng-template>
		<nz-spin nzSimple [nzSpinning]="isLoading" [nzIndicator]="indicatorTemplate"></nz-spin>
	</nz-upload>
</div>



