<div class="category-container flex flex-col gap-4 p-6">

	<div class="flex justify-between">
		<div><strong>Tags</strong></div>
		<app-tag-list-options></app-tag-list-options>
	</div>
		
	<div class="flex flex-wrap gap-2">
		<div 
			*ngFor="let tag of tags$ | async" 
			[routerLink]="['/space/tags', tag.id]"
			[ngStyle]="{ background: tag.tag_color, color: colorMapping[tag.tag_color].tc }"
			class="text-xs p-1 rounded cursor-pointer opacity-80 hover:opacity-100 duration-300"
		>
			#{{tag.tag_name}}
		</div>
	</div>
</div>