<div class="flex flex-col gap-4">

	<div class="flex justify-between items-center">
		<app-typography-section-header>Tags</app-typography-section-header>
		<app-form-add-tag></app-form-add-tag>
	</div>
		
	<div>
		<app-tag 
			*ngFor="let tag of tags$ | async" 
			[routerLink]="['/space/tags', tag.id]"
			[tag]="tag"
			class="flex items-center gap-2 cursor-pointer duration-150 hover:bg-purple-100 rounded-2xl"
		></app-tag>

		<!-- <app-tag -->
		<!-- 	*ngFor="let tag of tags$ | async" -->
		<!-- 	[routerLink]="['/space/tags', tag.id]" -->
		<!-- [ngStyle]="{ color: colorMapping[tag.tag_color].tc }" -->
		<!-- [tag]="tag" -->
		<!-- class="flex items-center gap-2 cursor-pointer duration-150 hover:bg-purple-100 rounded-2xl" -->
		<!-- ></app-tag> -->
	</div>
</div>