<div
	*ngIf="userSettings$ | async as settings"
	class="tag w-full border-0 p-4 disable-text-selection"
>
	<div class="flex justify-between items-center gap-2 w-full">
		<div class="flex items-center gap-2 w-full" [routerLink]="isAll ? 'all' : isUncategorized ? 'uncategorized' : isTrash ? 'trash' : category.id">
			<ng-icon *ngIf="isCategorized" name="circum-folder-on"></ng-icon>
			<ng-icon *ngIf="isAll" name="circum-view-list"></ng-icon>
			<ng-icon *ngIf="isUncategorized" name="circum-folder-off"></ng-icon>
			<ng-icon *ngIf="isTrash" name="circum-trash"></ng-icon>
			<div>{{name}}</div>
		</div>
		<div class="flex items-center justify-end gap-2">
			<span *ngIf="settings.is_bookmark_count_shown" class="text-xs text-neutral-500">
				{{count$ | async}}
			</span>
			<ng-icon
				*ngIf="!FIXED_CATEGORIES.ids.includes(name)"
				[nzDropdownMenu]="menu"
				nz-dropdown
				nz-icon
				name="circum-square-more">
			</ng-icon>
		</div>
	</div>

	<!-- Dropdown Menu -->
	<nz-dropdown-menu #menu="nzDropdownMenu">
		<ul nz-menu>
			<li nz-menu-item>
				<div (click)="deleteOneCategory(category.id)" class="flex items-center gap-2">
					<ng-icon name="circum-trash"></ng-icon>
					<span>Delete</span>
				</div>
			</li>

			<li nz-menu-item>
				<app-form-edit-category [category]="category"></app-form-edit-category>
			</li>
		</ul>
	</nz-dropdown-menu>
</div>

