<div class="flex justify-between items-center gap-2 p-6">
	<app-avatar></app-avatar>
	<button mat-icon-button [mat-menu-trigger-for]="menu">
		<mat-icon fontIcon="settings"></mat-icon>
	</button>
</div>

<mat-menu #menu="matMenu">
	<app-setting-appearance></app-setting-appearance>
	<app-setting-privacy-security></app-setting-privacy-security>
	<mat-divider></mat-divider>
	<app-setting-import></app-setting-import>
	<mat-divider></mat-divider>
	<button mat-menu-item (click)="logout()">
		<mat-icon
			class="icon material-icons-outlined"
			aria-hidden="false"
			aria-label="icon"
			fontIcon="logout">
		</mat-icon>
		<span>Logout</span>
	</button>
</mat-menu>
